/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  background-size:     150%;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  background-position-x: left;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #333;
  /*text-shadow: 0 .05rem .1rem #fff;
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
  max-width: 42em;
}

p {
    font-size: 120%;
  }

a {
  font-size: 120%;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.587);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding-right: 20%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

 .dropdown-menu img{
   width:30px;
 }

 .nav-pills .nav-link:not(.active) {
     color: #333;
 }

 .nav .nav-link.active {
   color: #333;
 }

 #main .nav .nav-link.active {
   background-color:  rgba(127, 255, 0, 0.6) !important;
 }

.card {
  text-shadow: none;
}

.card a {
  color: grey;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*Lightbox*/

/*Eliminates padding, centers the thumbnail */

body, html {
padding: 0;
margin: 0;
text-align: center;
}

/* Styles the thumbnail */
/*
a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}
*/

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: absolute;
  top: -100%;
  background: rgba(0,0,0,.7);
  max-width: 100%;
  /*width: 40%;*/
  opacity: 0;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin-top: 10%;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  box-sizing: border-box;
-webkit-transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-o-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: black;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-o-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 4px;
background: white;
color: white;
position: absolute;
left: 26px;
top:5px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 4px;
background: white;
color: white;
position: absolute;
left: 26px;
top:5px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
max-width: 100%;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

.lightbox img {
  height: 120px;
  width: auto;
  object-fit: cover;
}
/* MEDIA QUERIES */

/*Tablets*/

@media screen and (max-width: 1024px){
  .lightbox img {
    height: 120px;
    width: auto;
    object-fit: cover;
  }
  html,
body {
  background-size:     cover;                      /* <------ */
  background-position-x: center;
}
.cover {
  padding-right: 55%;
}
}

@media screen and (max-width: 768px){
  .lightbox img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }
  .nav-masthead {
    float: left;
  }
}


/*mobiles*/

@media screen and (max-width: 480px){
  .lightbox img {
    height: 200px;
    width: auto;
    object-fit: cover;
  }
  body {
  background-size:     400%;
  background-position-x: center;
  }
  .masthead-brand {
    float: left;
  }
  p {
    font-size: 90%;
}
}

@media screen and (max-width: 320px){
  .lightbox img {
    height: 150px;
    width: auto;
    object-fit: cover;
  }
}
